#!/bin/zsh
# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# Enable colors and change prompt:
autoload -U colors && colors

# History in cache directory:
HISTSIZE=1000
SAVEHIST=1000
HISTFILE=~/.cache/zsh/history

# autoload -U compinit && compinit -u
# zstyle ':completion:*' menu select

# bindkey 
bindkey -e

# Auto complete with case insenstivity
# zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'

# zmodload zsh/complist
# compinit
# _comp_options+=(globdots)		# Include hidden files.


# zsh-syntax-highlighting
source ~/.local/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh 2>/dev/null

# auto suggestions
source ~/.local/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh 2>/dev/null
bindkey ',' autosuggest-accept

# Starship Prompt
eval "$(starship init zsh)"

# For Emacs Vterm's shell-side configuration
vterm_printf(){
    if [ -n "$TMUX" ] && ([ "${TERM%%-*}" = "tmux" ] || [ "${TERM%%-*}" = "screen" ] ); then
        # Tell tmux to pass the escape sequences through
        printf "\ePtmux;\e\e]%s\007\e\\" "$1"
    elif [ "${TERM%%-*}" = "screen" ]; then
        # GNU screen (screen, screen-256color, screen-256color-bce)
        printf "\eP\e]%s\007\e\\" "$1"
    else
        printf "\e]%s\e\\" "$1"
    fi
}

# Alias
alias ls='exa'
alias e='emacsclient -a "" -c -n "$@"'
alias diff='icdiff'
alias vim='lvim'

{{ if eq .chezmoi.os "darwin" -}}
# For macOS
export PATH="$PATH:/Users/mushi007/.local/bin"
export PATH="/opt/homebrew/bin:$PATH"
export PATH="/opt/homebrew/opt/grep/libexec/gnubin:$PATH"
alias chrome='open -a "Google Chrome"'
{{ else if eq .chezmoi.os "linux" -}}
# For Linux
{{ end -}}
